@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-secundaria: 'Inter', sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.conteiner{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.conteiner-botao{
    background-color: var(--botao-azul);
    border-radius: 8px;
    padding: 1em;
    text-decoration: none;
    color: var(--branco-principal);
    font-family: var(--fonte-secundaria);
    display: block;
    text-align: center;
}

.botao-secundario{
    
}