@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
body{
    background-color: #000000; 
    color: #F6F6F6; 
    height: 100vh;
    /*box-sizing: responsável por como a largura e a
    altura totais de um elemento são calculadas.*/
    box-sizing: border-box;
    /*border-box: adequa ao tamanho do conteúdo*/
}

/*
estilo da classe
difere da tag pois especifica melhor
se usa strong{} todos que são vão receber as
caracteristicas definidas abaixo, mas ao definir a
classe, pode estilizar separadamente.
*/
.destaque-titulo{
    color: #22D4FD;
}

/*
para não precisa escrever todos as tags e classes
Para resetar os padrões dos navegadores de forma
simples utilizamos as propriedades margin, que define 
a área de margem nos quatro lados do elemento (cima,
direita, baixo, esquerda), e padding, que define a
área de preenchimento interna nos mesmos quatro lados
do elemento, ambas com valor igual à 0.
*/
*{
    margin: 0;
    padding: 0;
}

/* usando flexbox*/
.apresentacao{
    display: flex;
    /*por padrão, os elementos ficam um do lado do outro*/
    align-items: center;
    /*os elementos são alinhados no centro*/
    justify-content: space-between;
    /*cria-se um espaço entre os elementos,
    os mais na ponta ficam o mais distante possível*/
    margin: 10% 15%;
}

.apresentacao-conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao-conteudo-texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao-conteudo-links{
    display: flex;
    justify-content: space-between;
}

.apresentacao-conteudo-links-link{
    background-color: #22d4fd;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration:  none;
    color:#000000;
    font-family: 'Montserrat', sans-serif;
}